{% extends "base.html" %}

{% block title %}Task一覧{% endblock %}
{% block content %}
    <h1>Task List</h1>
    <form method="get" action="{% url 'task_list' %}">
        {{ search_form.title.label_tag }} {{ search_form.title }}
        {{ search_form.content.label_tag }} {{ search_form.content }}
        <button type="submit">検索</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                <p>{{ task.get_status_display }}</p>
            </li>
        {% endfor %}
    </ul>
    {% if tasks|length == 0 %}
        <p>Taskはありません</p>
    {% endif %}
    <a href="{% url 'task_create' %}">Taskを作成する</a>
{% endblock %}
