<!DOCTYPE html>
<html>
<head>
    <title>Task Detail</title>
</head>
<body>
    <h1>Task Detail</h1>
    <ul>
        <li>{{ task.title }} {{ task.content }} {{ task.limit_date }} {{ task.created_at }} {{ task.updated_at }} {{ task.created_user }} {{ task.updated_user }}
        <a href="{% url 'task_edit' task.id %}">編集</a>
        <form action="{% url 'task_delete' task.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">削除</button>
        </form>
        </li>
    </ul>
    <a href="{% url 'task_list' %}">一覧画面へ戻る</a>
</body>
</html>
