{% extends "base.html" %}

{% block title %}Task詳細{% endblock %}
{% block content %}
    <h1>Task Detail</h1>
    <ul>
        <li>タイトル: {{ task.title }}</li>
        <li>本文: {{ task.content }}</li>
        <li>期限: {% if task.limit_date == None %}(未設定){% else %}{{ task.limit_date }}{% endif %}</li>
        <li>作成日時: {{ task.created_at }}</li>
        <li>更新日時: {{ task.updated_at }}</li>
        <li>作成者: {{ task.created_user }}</li>
        <li>更新者: {{ task.updated_user }}</li>
        <li><a href="{% url 'task_edit' task.id %}">編集</a></li>
        <li>
            <form action="{% url 'task_delete' task.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('本当に削除しますか？（この操作は取り消せません）')">削除</button>
            </form>
        </li>
    </ul>
    <a href="{% url 'task_list' %}">一覧画面へ戻る</a>
{% endblock %}
