<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.content }} {{ task.created_at }} {{ task.updated_at }} {{ task.created_user }}
            <a href="{% url 'task_edit' task.id %}">編集</a>
            <form action="{% url 'task_delete' task.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">削除</button>
            </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_create' %}">Taskを作成する</a>
</body>
</html>
