{% extends "base.html" %}

{% block title %}Task詳細{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4">Task Detail</h1>
    <ul class="mb-4">
        {# FIXME: テキストをModelから出力できないか調べる（表記揺れを防ぐために） #}
        <li class="mb-2">タイトル: {{ task.title }}</li>
        {# NOTE: break-wordsだけでは開業できないので、whitespace-pre-wrapを指定している #}
        {#       https://zenn.dev/maztak/articles/7ec72edecfacd3 #}
        <li class="mb-2 break-words whitespace-pre-wrap">本文: {{ task.content }}</li>
        <li class="mb-2">期限: {% if task.limit_date == None %}(未設定){% else %}{{ task.limit_date }}{% endif %}</li>
        <li class="mb-2">作成日時: {{ task.created_at }}</li>
        <li class="mb-2">更新日時: {{ task.updated_at }}</li>
        <li class="mb-2">作成者: {{ task.created_user }}</li>
        <li class="mb-2">更新者: {{ task.updated_user }}</li>
        <li class="mb-4">
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url 'task_edit' task.id %}">編集</a>
        </li>
        <li class="mb-4">
            <form action="{% url 'task_delete' task.id %}" method="post" style="display: inline;" class="px-4 py-2 bg-red-500 text-white font-bold rounded hover:bg-red-700 transition duration-300 ease-in-out">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('本当に削除しますか？（この操作は取り消せません）')">削除</button>
            </form>
        </li>
    </ul>
    <a class="inline-block bg-gray-400 text-white font-bold rounded hover:bg-gray-700 transition duration-300 ease-in-out py-2 px-4" href="{% url 'task_list' %}">
        戻る
    </a>
</div>
{% endblock %}
