{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task管理サイト{% endblock %}</title>
    {% tailwind_css %}
</head>
<header class="shadow-md p-4">
    <nav class="w-full">
        <div class="flex justify-between max-w-4xl mx-auto">
            <div class="flex items-center">
                <a href="{% url 'task_list' %}">タスク管理サイト</a>
            </div>
            <a class="flex items-center px-4 py-2 bg-gray-400 text-white rounded hover:bg-gray-700 transition duration-300 ease-in-out" href="{% url 'task_create' %}">
                タスク作成
            </a>
            <div class="flex items-center">
                <div class="">
                    <ul class="flex space-x-4">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700 transition duration-300 ease-in-out">ログアウト</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'signup' %}" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition duration-300 ease-in-out">新規登録</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300 ease-in-out">ログイン</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>
<body>
{% block content %}
{% endblock %}
</body>
</html>
