<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task管理サイト{% endblock %}</title>
</head>
<header>
    <p><a href="{% url 'task_list' %}">タスク管理サイト</a></p>
    <nav>
        <ul>
            <li><a href="{% url 'task_create' %}">タスク作成</a></li>
        </ul>
    </nav>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">ログアウト</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">新規登録</a></li>
        <li><a href="{% url 'login' %}">ログイン</a></li>
        {% endif %}
    </ul>
</header>
<body>
{% block content %}
{% endblock %}
</body>
</html>