{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task管理サイト{% endblock %}</title>
    {% tailwind_css %}
</head>
<header class="shadow-md p-4">
    <nav class="w-full">
        <div class="flex justify-between max-w-4xl mx-auto">
            <div class="flex items-center">
                <a href="{% url 'task_list' %}">タスク管理サイト</a>
            </div>
            <a class="flex items-center px-4 py-2 bg-gray-400 text-white font-bold rounded hover:bg-gray-700 transition duration-300 ease-in-out" href="{% url 'task_create' %}">
                タスク作成＋
            </a>
            <div class="flex items-center">
                <div class="flex space-x-4">
                    {% if user.is_authenticated %}
                        <div id="hamburger-icon" class="flex flex-col justify-around w-6 h-6 cursor-pointer" onclick="toggleHamburgerMenu()">
                            <div class="w-6 h-0.5 bg-black"></div>
                            <div class="w-6 h-0.5 bg-black"></div>
                            <div class="w-6 h-0.5 bg-black"></div>
                            {# FIXME: 親要素の高さを取得して自動的にtopを指定したい #}
                            <div id="hamburger-menu" class="absolute top-16 hidden">
                                <a href="{% url 'logout' %}" class="px-4 py-2 bg-red-500 text-white font-bold rounded hover:bg-red-700 transition duration-300 ease-in-out">ログアウト</a>
                            </div>
                        </div>

                    {% else %}
                        <a href="{% url 'signup' %}" class="px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700 transition duration-300 ease-in-out">新規登録</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>
</header>
<body>
{% block content %}
{% endblock %}
</body>

<script>
    function toggleHamburgerMenu() {
        var menu = document.getElementById("hamburger-menu");
        menu.classList.toggle("hidden");
    }
</script>
</html>
